@{
    ViewBag.Title = "Uploading";
}

<h2>File Uploading</h2>

<div class="jumbotron">
    <h1>Multiple File Uploading ASP.NET MVC</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="files" id="file1" />
            <input type="file" name="files" id="file2" />
            <input type="file" name="files" id="file3" />
            <input type="submit" />
        </form>
    </div>
</div>
